* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  src: url('./fonts/Spartan-Medium.ttf');
  font-family: "spartan-med";
}

@font-face {
  src: url('./fonts/Spartan-Light.ttf');
  font-family: "spartan-light";
}

@font-face {
  src: url('./fonts/Spartan-Bold.ttf');
  font-family: "spartan-bold";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "spartan-bold";
}

p {
  font-family: "spartan-med";
}

#desktop-nav {
  height: 100vh;
  position: fixed;
  /* display: inline-block; */
  /* max-width: 50px; */
  /* background-color: red; */
  /* position: absolute; */
}

#test {
  background-image: url("./components/layout/avatar-1.jpg");
}

#invoice-container {
  background-color: #f8f8fb;
  width: 100%;
  padding-left: 75px;
}

#invoice-wrapper {
  margin: 2.5rem auto;
  max-width: 1000px
}

@media only screen and (max-width: 1200px) {
  #invoice-wrapper {
    width: 85%
  }
}