* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  src: url('./fonts/Spartan-Medium.ttf');
  font-family: "spartan-med";
}

@font-face {
  src: url('./fonts/Spartan-Light.ttf');
  font-family: "spartan-light";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "spartan-med";
}

p {
  font-family: "spartan-light";
}

#desktop-nav {
  height: 100vh;
  /* display: inline-block; */
  /* max-width: 50px; */
  /* background-color: red; */
  /* position: absolute; */
}

#test {
  background-image: url("./components/layout/avatar-1.png");
}