* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8fb;
}

@font-face {
  src: url('./fonts/Spartan-Medium.ttf');
  font-family: "spartan-med";
}

@font-face {
  src: url('./fonts/Spartan-Light.ttf');
  font-family: "spartan-light";
}

@font-face {
  src: url('./fonts/Spartan-Bold.ttf');
  font-family: "spartan-bold";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "spartan-bold";
}

p {
  font-family: "spartan-med";
}

/* ======== DESKTOP NAV STYLES ======== */

#desktop-nav {
  height: 100vh;
  position: fixed;
}

#desktop-nav-img {
  max-width: 75px;
  z-index: 9999;
}

#desktop-nav-body {
  position: relative;
  background-color: #373B53;
  height: 94.5vh;
  width: 75px;
  margin-top: -2rem;
  z-index: -1;
  border-bottom-right-radius: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
}

#desktop-nav-avatar {
  background-image: url("./components/layout/avatar-1.jpg");
  border-radius: 50%;
  width: 60%;
  height: 50px;
  background-color: #7E88C3;
  margin: 1rem auto;
  background-size: cover;
}

.nav-hr {
  border-color: #7E88C3;
}

#desktop-nav-moon {
  width: 50%;
  margin: 0 auto;
  padding: 1rem .5rem;
}

/* ======== MOBILE NAV STYLES ======== */

#mobile-nav {
  display: none;
  background-color: #373B53;
  width: 100%;
  height: 75px;
}

#mobile-nav-logo {
  max-width: 75px;
  height: 75px;
}

#mobile-nav-moon {
  width: 30px;
  margin-right: 1rem;
}

.vertical-line {
  width: 1px;
  border: 1px solid #7E88C3;
  height: 75px;
  margin: 0 1rem;
}

#mobile-nav-avatar {
  background-image: url("./components/layout/avatar-1.jpg");
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  margin-right: 1rem;
}

/* ======== DROPDOWN STYLES ======== */

#dropdown-button {
  text-transform: none;
  margin-right: 1rem;
  border-radius: 2rem;
  box-shadow: none;
  padding: .5rem 1rem;
  background-color: #7C5DFA;
}

#customized-menu {
  margin-top: 1rem;
}

/* ======== INVOICE STYLES ======== */

#invoice-page-container {
  display: flex;
}

#invoice-container {
  background-color: #f8f8fb;
  width: 100%;
  padding-left: 75px;
}

#invoice-wrapper {
  margin: 2.5rem auto;
  max-width: 1000px
}

.desktop-header {
  display: flex;
  padding: 2.5rem 5px;
  justify-content: space-between;
  /* margin-bottom: 2.5rem; */
}

.mobile-header {
  display: none;
  padding: 2.5rem 5px;
  justify-content: space-between;
}

#mobile-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#invoice-header-actions {
  display: flex;
  align-items: center;
}
#button {
  background-color: #7C5DFA;
  border: none;
  padding: .5rem 1rem;
  color: white;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  outline: none;
  text-transform: none;
}

#button img {
  margin-right: .5rem;
}

#invoice-item-container {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: .5rem;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
  border-radius: 5px;
  align-items: center;
}

#invoice-item-container div {
  width: 150px;
}

.status {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.header2 {
  /* width: 150px; */
  font-size: 2rem;
}

.light-purple-color {
  color: #888EB0;
}

.xs-margin-right {
  margin-right: .25rem;
}

#ghost {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: black;
  z-index: 10000;
  top: 0;
  left: 0;
  opacity: .3;
  overflow-x: scroll;
  overflow-y: hidden;
}

#modal-main {
  width: 40%;
  height: 45%;
  background-color: white;
  position: absolute;
  z-index: 100001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#modal-main div {
  display: flex;
}

#modal-button-container {
  width: 65%;
  display: flex;
  justify-content: space-around;
}

.fluid {
  width: 80%;
}

.fluid-s {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  #invoice-wrapper {
    width: 85%
  }
  #invoice-item-container {
    padding: .75rem;
  }
}

@media only screen and (min-width: 769px) {
  #desktop-nav {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  #mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #mobile-nav div {
    display: flex;
    align-items: center;
  }
  #invoice-page-container {
    display: block;
  }
  #invoice-item-container {
    overflow: auto;
  }
  #right-arrow {
    color: #7C5DFA
  }
  #invoice-item-container .text-align-center {
    text-align: left;
  }
  #invoice-wrapper {
    margin: 0 auto;
  }
  #invoice-container {
    padding-left: 0;
  }
  #desktop-nav {
    display: none;
  }
  #invoice-item-date {
    display: none;
  }
}
@media only screen and (max-width: 660px) {
  
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: flex;
  }
  .header2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 425px) {
  .header2 {
    font-size: 1.25rem;
  }
  #invoice-header p {
    font-size: .75rem;
  }
  #dropdown-button {
    text-transform: none;
    margin-right: .5rem;
    border-radius: 1.5rem;
    box-shadow: none;
    padding: .5rem;
    background-color: #7C5DFA;
  }
  #button {
    background-color: #7C5DFA;
    border: none;
    padding: .5rem;
    color: white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    outline: none;
    text-transform: none;
  }
  
  #button img {
    margin-right: .5rem;
  }
  
}

@media only screen and (max-width: 320px) {
  .header2 {
    font-size: 1rem;
  }
  #invoice-header p {
    font-size: .55rem;
  }
}