* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  src: url('./fonts/Spartan-Regular.ttf');
  font-family: "spartan-reg";
}

@font-face {
  src: url('./fonts/Spartan-Light.ttf');
  font-family: "spartan-light";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "spartan-reg";
}

p {
  font-family: "spartan-light";
}